@media screen and (min-width: 100px) {
  .signUp {
    background-color: #272727;
    color: white;
    height: 120vh;
    font-family: 'Lexend Deca', sans-serif;
/* font-family: 'Roboto', sans-serif; */
    /* padding-left: 30px; */
  }

  .signUp__header {
    text-align: center;
    margin-top: 50px;
  }

  .signUp__heading {
    font-size: 35px;
    /* font-weight: 400; */
    font-family: 'DM Serif Display', serif;
  }

  .signUp__heading-paragraph {
    color: #a5a5a5;
    font-size: 20px;
    font-weight: 300;
    /* color: #a5a5a5; */
  }

  .signUp__input > input {
    background-color: #272727;
  }

  .signUp__input > input::placeholder {
    font-size: 16px;
    padding-left: 2px;
    font-weight: 300;

  }

  .signUp__form {
    margin-top: 35px;
    margin-left: 30px;
  }
  .signUp__button {
    margin-left: 30px;
  }
  .signUp__bottomText {
    margin-top: 35px;
    width: 100%;
  }
  .signUp__bottomText-login {
    color: #6eeb83;
    /* margin-bottom: 20px; */
  }
}
@media screen and (min-width: 576px) {
}
@media screen and (min-width: 768px) {
}
@media screen and (min-width: 992px) {
    .signUp {
    background-color: #272727;
    color: white;
    height: 100vh;
    width: 100%;
    /* padding-left: 30px; */
  }

  .signUp__one{
   width:32% 
  }

  .signUp__two{
    margin-left: 130px;
    width: 68%;
  }

  .signUp__header {
    text-align: left;
    margin-left: 30px;
    margin-top: 80px;
  }

  .signUp__heading {
    font-size: 48px;
    height: 65px;
    /* font-weight: bold; */
  }

  .signUp__heading-paragraph {
    color: #a5a5a5;
    font-size: 24px;
    /* color: #a5a5a5; */
  }

  .signUp__input > input {
    background-color: #272727;
    width: 100%;
    /* width: 480px !important; */
    color: white;
  }

  .signUp__input > input::placeholder {
    /* padding-left: 30px; */
    font-size: 16px;
    padding-left: 15px;
  }

  .signUp__form {
    margin-top:44px;
    margin-left: 30px;
    margin-right: 250px;

  }
  .signUp__button {
    margin-left: 30px;
  }
  .signUp__bottomText {
    margin-top: 0px;
    width: unset;
    font-size: 18px;
  }
  .signUp__bottomText-login {
    color: #6eeb83;
    margin-top: -5px;
    margin-right: 390px;

    /* margin-bottom: 20px; */
  }
}
@media screen and (min-width: 1200px) {
}
