.button {
  /* margin-right: 20px; */
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 25px;
  /*width: 180px;
  height: 60px;
  */background-color: #6EEB83 !important;
  padding: 8px 30px;
  border: unset;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
}
