@media screen and (min-width: 100px) {
}
@media screen and (min-width: 576px) {
}
@media screen and (min-width: 768px) {
}
@media screen and (min-width: 992px) {
}
@media screen and (min-width: 1200px) {
  .blogPost {
    background-color: #272727;
    color: white;
    /* height: 100vh; */
  }

  .blogPost__header {
    width: 980px;
    margin: auto;
  }

  .blogPost__heading {
    padding-top: 60px;
    font-weight: bold;
    color: #6eeb83;
    line-height: 3rem;
    font-size: 40px;
  }
  .blogPost__author {
    margin-top: 15px;
    color: #a5a5a5;
  }

  .blogPost__paragraph {
    width: 980px;
    margin: auto;
    margin-top: 30px;
    padding-bottom: 60px;
  }
  .blogPost__paragraph > div {
    margin-top: 15px;
  }
}
