.background-image {
  background-image: url("../../../images/Side-Background.png");
  width: 100%;
  height: 100vh;
  border-right: 3px solid #6EEB83 ;
}

.background-image__text{
  font-size: 64px;
  font-weight: 700;
  position: relative;
  top: 40%;
  left: 5%;
  transform:rotate(270deg);
  transform: translate(50%,50%);
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  -o-transform:rotate(270deg);
}
